[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
pytest = "*"
pytest-django = "*"
celery = {extras = ["redis"], version = "*"}
drf-spectacular = "*"
pillow = "*"
django-storages = "*"
boto3 = "*"

[dev-packages]
pre-commit = "*"
black = "*"
flake8 = "*"
mypy = "*"
django-stubs = "*"
djangorestframework-stubs = "*"
celery-types = "*"
types-setuptools = "*"

[requires]
python_version = "3.10"

[scripts]
setup = "bash -c 'cp compose/local/.env-sample compose/local/.env && cp compose/prod/.env-sample compose/prod/.env && pipenv install --dev && pipenv run pre-commit install'"
lint = "bash -c 'flake8 . && mypy . --config-file ./../.mypy.ini'"
test = "bash -c 'docker-compose up -d pg && cd src/ && pipenv run pytest'"
server = "bash -c 'docker-compose up -d pg && export DJANGO_DEBUG=True &&  pipenv run python src/manage.py runserver'"
exec = "docker-compose exec api"
makemigrations = "bash -c 'docker-compose up -d pg && pipenv run python src/manage.py makemigrations'"
compose = "docker-compose up"
compose-down = "docker-compose down"
compose-run = "docker-compose exec api"
compose-prod = "docker-compose -f docker-compose.prod.yml up"
